*.class
.idea/
out/
Server/build/
Desktop/Desktop.iml
HomeDecoration.iml
Utils/Utils.iml
Server/Server.iml
build/
.gradle/
localFile/
classes/
gradle/
sae/sae.iml
appData/appData.iml
domain/domain.iml
